<h1>New Poll</h1>

<div class="row">
  <div class="col-xs-6">
    <%= form_for @poll do |f| %>
      <%= render "shared/errors", model: f.object %>
      <div class="form-group">
        <%= f.label :question %>
        <%= f.text_field :question, placeholder: "Enter your question...", class: "form-control" %>
      </div>

      <fieldset id="choices">
        <%= label_tag :choices %>
        <%= link_to_add_fields "New choice", f, :choices %>
        <%= f.fields_for :choices do |builder| %>
          <%= render "choice_fields", f: builder %>
        <% end %>
      </fieldset>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
